.educationWork{
    background-color: #222528;
    padding-top: 15%;
    color: #ffffff;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 15%;
}
/* hide scrollbar for chrome,safaro and opera */
.educationWork::-webkit-scrollbar{
    display: none;
}
/* hide scrollbar for IR,Edge and firefox */
.educationWork{
   -ms-overflow-style:none;/*IE and Edge*/
   scrollbar-width:none ;/*firefox*/
}
.educationWork ul{
    list-style: none;
    padding: 20px 25px;
}
.educationWork ul li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 4px;
}

.educationWork ul li:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #e74c3c;
    display: block ruby;
    border-radius: 999px;
    position: absolute;
    left: 0px;
    top: 2px;
}

.educationWork ul li h2{
    font-size: clamp(.5rem, 6vw, 1rem);
    margin-bottom: 6px;
    font-weight: 700;
}

.educationWork ul li h2 span{
    font-size:  clamp(.2rem, 6vw, 0.8rem);
    font-weight: 700;
}

.educationWork ul li p{
    font-size: 10px;
    font-weight: 300;
}