header{
    background-color: #f6f6f6;
}
header figure{}
header figure img{
    width:100%;
}
header article{
    padding: 20px 25px;
}
header article h2{
    color: #231f20;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

header article h5{
    color: #231f20;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
}

header article p{
    font-size: 12px;
    color: #231f20;
    text-align: justify;
}